HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
.aws-sam
/izinga-ordermanager/.aws-sam
izinga-ordermanager/src/test/resources/application-secrets.yml
izinga-ordermanager/src/main/resources/application-secrets.yml
izinga-usermanagement/src/test/kotlin/io/curiousoft/izinga/usermanagement/walletpass/google/GooglePassGeneratorTest.kt
izinga-usermanagement/mypass1.pkpass
izinga-usermanagement/src/test/kotlin/io/curiousoft/izinga/usermanagement/walletpass/google/GooglePassGeneratorTest.kt
store-menu-to-izinga-menu/pom.xml
.DS_Store
izinga-commons/.DS_Store
izinga-documentmanagement/.DS_Store
izinga-messaging/.DS_Store
izinga-ordermanager/.DS_Store
izinga-qrcode-generator/.DS_Store
izinga-recon/.DS_Store
izinga-usermanagement/.DS_Store
izinga-yoco-pay/.DS_Store
